* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.header {
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    padding-right: 10px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header .row {
    margin-top: 50px;

}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    margin: 25px 0;
    line-height: 60px;
}

.btn {
    display: inline-block;
    background:#ff523b ;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #563434;

}

p {
    color: #fff;
}


.small-container {
    min-width: 1000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.categories {
    margin: 70px 0;

}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    background: #ff523b;
    width: 50px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.6;
}

.col-4 img {
    width: 100%;

}

.col-4:hover {
    transform: translateY(-5px);
}

h4 {
    color: #555;
    font-size: normal;

}

.rating .fa {
    color: #ff523b;
}

.offer {
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img{
    padding: 50px;
}

small{
    color: #fff;
}

.testimonial {
    padding-top: 100px;
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.1s;
}

.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover {
    transform: translateY(-10px);
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

.fa .fa-quote-left {
    font-size: 34px;
    color: #ff523b;
}

.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.brands {
    margin: 100px auto;
}

.col-5 {
    width: 160px;
}

.col-5 img {
    width: 100px;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0);
}

.footer {
    padding-top: 50px;
    background: #000;
}

.footer h3 {
    color: #fff;
    font-size: 17px;
}
.footer p {
    color: #585555;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer-col-1 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    
}

.app-logo img {
    width: 120px;
}

.app-logo img:hover {
   cursor: pointer;
}

.footer-col-2 {
    flex-basis: 35%;
    padding: 10px;
    min-width: 300px;
    
}

.footer-col-2 img {
    width: 400px;
    height: 150px;
    padding-left: 25px;
    padding-bottom: 25px;
    
}

.footer-col-2 p{
    color: #585555;
    text-align: center;
    padding-top: 15px;
}

.footer-col-3 {
    flex-basis: 20%;
    padding: 10px;
    min-width: 150px;
    
}


.footer-col-3 h3{
    text-align: center;
}


.footer-col-4 {
    flex-basis: 20%;
    padding: 10px;
    min-width: 150px;
    
}
.footer-col-4 h3{
    text-align: center;
}


.footer-link {
    text-decoration: none;
    color: #737373;
    font-size: 12px;
}

.footer-link:hover{
    color: #ff523b;
}
.footer-list {
    text-align: center;
}

.footer hr {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #585555;
}

.copy {
    text-align: center;
    color: #737373;
}

